name: Deploy website to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: sniper/bikedealsniper-v2
        run: npm install

      - name: Build Vite project
        working-directory: sniper/bikedealsniper-v2
        run: npm run build

      - name: Prepare files
        run: |
          rm -rf ./deploy
          mkdir deploy
          cp -r sniper/bikedealsniper-v2/dist/* deploy/

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./deploy
          publish_branch: gh-pages
